/*
    Footer
  */
   
  footer {
    padding: 16px;
  }
   
  footer p {
    text-align: center;
    color: #aaaaaa;
  }
   
  footer p a {
    color: #db0000;
    text-decoration: none;
  }
